.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px,auto;
    
    /* this effects the columns */
    justify-items: stretch; 
    /* this effects the rows */
    align-items: stretch;
}

.wrapper > div:nth-child(even){
    background-color: red;
    color: red;
}

.wrapper > div:nth-child(odd){
    background-color: white;
    color: white;
}

.wrapper1{
    background-image: url(images/easy.jpg);
    background-attachment: fixed;
    width: fix-content;
}
/* .image{
    width: 25rem;
    float: left;
} */
/* .line1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1

} */

